/* tasks.component.css */

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-task {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Dodałem gap, aby uzyskać odstęp między elementami w flex containerze */
}

.form-group {
  flex: 1;
  margin-right: 20px;
}


.mat-card {
  width: calc(50% - 10px);
  margin-bottom: 10px;
}

.task {
  width: calc(50% - 10px);
  margin-bottom: 20px; /* Zwiększyłem margines dolny na 20px */
}

@media screen and (max-width: 600px) {
  .mat-card,
  .task {
    width: 100%;
    margin-bottom: 20px; /* Zwiększyłem margines dolny na 20px */
  }
}
