#frame {
  font-family: 'Roboto', sans-serif;
  border: 2px solid #3498db;
  padding: 30px; /* Zwiększam odstęp wewnętrzny */
  background-color: #ecf0f1;
  text-align: center;
  box-shadow: 0px 0px 10px 0px #bdc3c7;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 400px; /* Zwiększam maksymalną szerokość */
}

#frame > button {
  margin: 0 10px;
  padding: 15px; /* Zwiększam padding przycisku */
  background-color: darkslateblue;
  color: white;
  border: none;
  border-radius: 8px; /* Zwiększam zaokrąglenie przycisku */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#frame > button:hover {
  background-color: #7a6ed4;
}

.red {
  color: #e74c3c;
  font-weight: bold;
  font-size: 18px;
}

.green {
  color: #2ecc71;
  font-weight: bold;
  font-size: 18px;
}
