header {
  background-color: var(--primary-color);
  color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
}

header a {
  color: var(--accent-color);
  text-decoration: none;
}

.router-outlet {
  min-height: 70vh;
}

footer {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.add-button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Zielony kolor */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Dodaj efekt hover, aby podkreślić interakcję z przyciskiem */
.add-button:hover {
  background-color: #45a049; /* Ciemniejszy odcień zielonego po najechaniu myszką */
}
