:host {
  font-size: 24px;
}

p {
  font-size: 24px;
}

.delete {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.delete:hover {
  background-color: #cc4c3e;
}
