.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task,
mat-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  flex: 1;
  font-size: 1.2em;
}

.deadline {
  color: #fff;
  font-size: 0.9em;
  background-color: #f28500;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 10px;
}

.actions {
  margin-left: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #2c3e50;
  color: #ecf0f1;
}
