@import '@angular/material/prebuilt-themes/purple-green.css'; /* Importuj wybrany schemat kolorystyczny */

:root {
  --primary-color: #5b46c2; /* Kolor fioletowy */
  --accent-color: #ffffff; /* Nowy kolor akcentu */
}

body, h1, h2, h3 {
  font-family: 'Comic Sans MS', cursive;
}

h1 {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 1em;
  margin: 0;
}

mat-form-field {
  width: 100%;
}

mat-datepicker-toggle {
  color: var(--accent-color);
}

mat-datepicker-content {
  background-color: var(--primary-color);
  color: var(--accent-color);
}




